[Desktop Entry]
Name=placidTheme25b
Comment=Not perfect.

X-KDE-PluginInfo-Author=Petre Teodorescu
X-KDE-PluginInfo-Email=teodorescup@riseup.net
X-KDE-PluginInfo-Name=placidTheme25b
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

